<p id="notice"><%= notice %></p>

<h1>Listing Parsers</h1>


<br>

<%= link_to 'New Parser', new_parser_path %>

<% 
#if @parsers != nil
#    @parsers.each do |parser| 
#        raw(parser)
#    end
#else
    raw(@parser)
#end %>