// Place all the styles related to the parsers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-card__name.big {
    font-weight: 400;
    font-size: 12px;
    position: relative;
    display: block;
    height: 15px;
    width: 233px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 15px;
}
.mobile-product-list li{
    width:300px;
    height:300px;
    transition: none;
    float:left;
}

.mobile-product-list li a{
    
    font-weight: 400;
    font-size: 12px;
    position: relative;
    display: block;
    //height: 15px;
    //width: 233px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 15px;
}

.product-image-url img{
    float: left;
    height: 200px;
    width: 200px;
}
.product-name{
    
}

.product-price{
    

}